@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*common css start */
.color-primary{
    color: #f56e0d;
}

.color-secondary{
    background-color: #e0d6cf; 
}

.dark-2{
    color: #474747;
}

.text-center{
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
 }

 .section-content{
    font-size: 18px;
    color: #757575;
 }

.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius : 5px;
}
/*common css end */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header section start */

.header{
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}

/* header section end */

/* nav section start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

/* nav section end */

/* banner section start */

.banner{
    display: flex;
    justify-content: space-between; 
    margin: 0 25px 0 150px;
}

.banner-content{
    max-width: 400px;
}

.banneer-greetings{
    font-size : 35px;
    font-weight: 600;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
}

.banner-title-content{
    color: #757575;
    font-size: 20px;
    margin-bottom: 68px
}

.banner-img{
    height: 516px;
    width: 434px;
}
/* banner section end */


/* main section start */

main{
    max-width: 1400px;
    margin: 0 auto;
}

/* about section start */


.about{
    padding: 150px 156px;
    border-radius: 10px;
    text-align: center;
    margin-top: 130px;
}

.about-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-content{
    font-size: 18px;
    font-weight: 600;
}

.about-title{
    font-size: 18px;
    font-weight: 400;
}

/* about section end */

/* skills section start */

.skill{
    padding: 13px;;
    border-radius: 10px;
    background-color: #d0d0d0ba;
    box-shadow: inset -15px 20px 50px 0px rgba(0, 0, 0, 0.25)
}

.skill-description{
    padding: 150px 156px;
}

.skill-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

/* skills section end */

/* resume section srart */

.resume{
    margin-bottom: 55px;
}

.resume-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.resume-Education, .resume-Experience {
    font-size: 26px;
    font-weight: bold;
}

.experience-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 8px;
}

.experience-subtitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.experience-description{
    font-size: 18px;
}

.experience-description, .experience-subtitle {
    color: #757575;
}

.resume-download{
    margin-top: 50px;
}


/* resume section end */

/* main section end */
