@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*common css start */
.color-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius : 5px;
}
/*common css end */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header section start */

.header{
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}

/* header section end */

/* nav section start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
}

/* nav section end */

/* banner section start */

.banner{
    display: flex;
    justify-content: space-between; 
    margin: 0 25px 0 150px;
}

.banner-content{
    max-width: 400px;
}

.banneer-greetings{
    font-size : 35px;
    font-weight: 600;
}

.banner-title{
    font-size: 65px;
    font-weight: bold;
}

.banner-title-content{
    color: #757575;
    font-size: 20px;
    margin-bottom: 68px
}

.banner-img{
    height: 516px;
    width: 434px;
}
/* banner section end */
